html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
a {
  color: black;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 40pt;
  text-decoration: none;
  margin-left: 400px;
}

p {
  font-size: 60px;
  margin-left: 400px;
  margin-top: 640px;
  color: white;
  font-family: helvetica;
}

button {
  background-color: #232323;
  border: none;
  color: white;
  font: helvetica;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
